@red: #cb0000;

.pointer{
  cursor: pointer;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.font10{
  font-size: 2em;
}
.left{
  float: left;
}
.error{
  color: @red;
}
#wrapper{
  #content{
    #search-form{
      .relative();
    }
  }
}
#wrapper{
  #content{
    table{
      tr{
        .pointer();
      }
    }
  }
}
#wrapper{
  .relative();
  width: 100em;
  margin: auto;
}
#wrapper{
  #content{
    #logo{
      .relative();
      left: 50%;
      margin-left: -200px;
    }
  }
}
.display-none{
  display: none;
}
#wrapper{
  #content{
    #search-form{
      input{
        margin-top: 0.2em;
      }
    }
  }
}
#modal{
  .fixed();
  left: 0;
  top: 0;
  .display-none();
  width: 100%;
  height: 100%;
}
#content{
  .search-result{
    .absolute();
    .display-none();
    margin-bottom: 10px;
    .font10();
    height: 20em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: auto;
    background: #fff;
    color: #000;
  }
}